$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

$light: RGBA(232, 234, 235, 1);
$blue: RGBA(168, 189, 217, 1);
$green: RGBA(40, 88, 88, 1);
$dark: RGBA(1, 2, 18, 1);
@mixin border-radius($radius){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

body {
    background: $light;
}

.header {
    width: 100%;
    height: 50px;
    background: $dark;

    ul {
        width: 100%;
    }

    li {
        display:inline-block;
        padding: 0 auto;
    }

    a {
        text-decoration: none;
        color: $light;

    }
}

// /* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
//     .container {
//         max-width: 730px;
//     }

//     /* Remove the padding we set earlier */
//     .header,
//     .marketing,
//     .footer {
//         padding-left: 0;
//         padding-right: 0;
//     }

//     /* Space out the masthead */
//     .header {
//         margin-bottom: 30px;
//     }

//     /* Remove the bottom border on the jumbotron for visual effect */
//     .jumbotron {
//         border-bottom: 0;
//     }
// }
